{%extends 'base.html'%}

{%block head%}
<style>
h1{
    color:teal;
    text-align: center;
}}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
p {
font-family: verdana;
font-size: 20px;
}
table{
height: 80px;
width: 130px;
text-align: center;
vertical-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
</style>
{%endblock head%}


{%block body%}
    <div class="container">
         <h1 align="center">BIRTH DATE NUMEROLOGY</h1>
<link rel="stylesheet" href="Birthdate.css">
<p>
     A person born on a date determines the position of Sun on the birth chart as every year on the same ate Sun will be exactly at the same position. Every day in an year has a specific significance. Also, every month has significance. Person from different month may have different features due to different Sun's positions and different Sun sign. Like a person from January are an independent and high minded person in all their actions and detest being under the restraint of others. They are really an ambitious and devoted towards family and partners. They will be hindered by many obstacles and problems
through-out life. Especially they will be suffered with elements during the first part of life.
But they need not worry as because they will overcome all these with great quality of
patience and determination.
Person Born In February are a person of full of liveliness and activeness. Unexpected changes will happen to your family, plans made for them by them are not likely to be carried out and the chances are that they will start out into the world at an early age to make their own way. They will be the person who will be under less fatalistic influences of some person. The basic fundamental characteristic of them is that they are a person of pre-thinking capability. They have also the power to execute plan at reality with the full
length. Person born in March are full of intuitiveness. They will be able to make a good psychic. So
age may not be the matter for them. Their life will be changed with the help of their plan,
causing removal from place to place. They will get few opportunities for long journeys. There is a possibility to change of their domestic life. A drastic change will happen in Their life and in the end it should turn out in their favor. There is a possibility that there will be a lot of anxieties over money matters at the commencement, but the chances will be that things will turn out well and it would be in their favor Person born in April will raise to high in material success or power. They will provide flattery from the persons who are attracted by them. They will incline to lack of caution.
They are impulsive by nature and quick in thought and action. You are very frank and out
spoken. They will incline to make enemies for want of fact. They will be a kind person.
Thouchould be.onabled to cagoulage They are also able to execute their plans and ambitions successfully. Person born in May have great power of endurance, both physically and mentally. You may pass through an enormous strain of fatigue as long as the excitement and determination last. They are person full of patience. They have the gentle behavior. They are also short tempered person. They will be angry due to the other's jealousy towards them or under hand work. They will be liable to sudden out bursts of temper and passion if opposed in your plans and the ambitions. They are also kind hearted person. It will not be an easy matter for them to span interference of any kind, petty announce or criticism. Like that all the other months also have some special significance or impact on the person from the respective month.
</p>
<img src="https://i.ytimg.com/vi/3IPK0ejNw0w/maxresdefault.jpg">

    </div>
{%endblock body%}