{%extends 'base.html'%}

{%block head%}
<style>
    h1{
    color:teal;
    text-align: left;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
}
p {
font-family: verdana;
font-size: 20px;
}
table{
height: 80px;
width: 130px;
text-align: center;
vertical-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

</style>
{%endblock head%}


{%block body%}
<div class="container">
<h1 align="center">NUMEROLOGY AND CAREER</h1>
<link rel="stylesheet" href="career.css">
<p>
    All the people have a dream to establish their career on a proper sense. The proper

established career will able to provide us a lot of enjoyment, money and happiness. If we

can't able to establish ourselves properly, we will feel guilty at the end of our life and

sometime it is really true that we have to pay for it. It is a matter of sorrow that most of

the people are continuously trying to stick themselves to attain their career.

For that reason we cannot able to enjoy our life in a proper sense. So life will become almost a vein in all sense. You can consider Numerology as a ancient method to guide you with your strengths and weakness from your number or Number of Life Path. It also helps you to determine the right and wrong career path for you which you may follow to be in the right track.
</p>
<h1>
    Number 1 as Life Path:
</h1>
<p>
    The Life path number 1 is really suitable for the all the people except who belongs to the upper class. If you hold this particular life path number you may start your career as a artificer. You also be a successful sailor with the help of this Life Path Number. It can also be a matter of consider that you may also make yourself successful in the fields of law and order, in the field of engineering and even in

the fields of entertainment. You may also be a great photographer and graphic designer with the help o this life path number. Number 1 will provide you an aggressive nature. You also have a leadership quality with strong motivation. With the help of this particular quality you will be a successful military. You may also join in the business of construction. This number is considered as a masculine number.
</p>
<h1>
    Number 2 as Life Path:
</h1>
<p>
    Those who possess the Life Path Number 2 will have all the capability to set themselves as a successful doctor, nurses and even physiotherapist. You also have the capability to express your own knowledge properly. And with the help of this you will be a successful teacher also. This number is considered a as a feminine number. This Number will provide you a strong mentality with the true sense of survivors. You also possess a diplomatic mentality. You personal nature will push you towards the fields of fashion and even towards the sector of sail. There is a possibility that you will be a great write and a great match maker. This number will provide you all kinds of capability to be a great politician. From the last three professions you will earn a proper fame and recognition from the common masses.
</p>
<h1>
    Number 3 as Life Path:
</h1>
<p>
    Those who have this particular number are really like to their work in a routine basis. There is a possibility that you will feel a strong desire to the fields of art, writing and film making. This number 3 will provide you a strong fascination towards the fields of -advertising, marketing and even the services related to public relation. This also throws you towards the world of media. You may make your career successful with the fields of

journalism and broadcast. You may also chose any science subject as your career path.
</p>
<h1>
    Number 4 as Life Path:
</h1>
<p>
    Life Path Number 4 will provide you all the senses to be a accountants or a banker or even a successful finance consultant. This particular number will provide a persona down to earth and with the help of this the person will able to make a bright career. It also provides you a discipline for this you may be an athletic. This number will bring you towards the fields of engineering and architect. You may put your hand in the fields of tax section.
</p>
<h1>
    Number 5 as Life Path:
</h1>
<p>
    provides you a strong attraction regarding the outdoor life. You also start your career with the fields of advertising. You also deal with the antique thing and high risk dealings. There is a possibility that you also have a strong fascination regarding the fields of gambling. Though there is a strong risk point or factor, there is also a possibility to make your economic condition flourishing with the help of number 5.
</p>
<h1>
    Number 6 as Life Path:
</h1>
<p>
    Life Path Number 6 will provide a person with full of sensibility. This will also effect on career. You may select the teaching as your profession. You love to work with everyone and you devoted yourself for helping people. You also be a part of the works related to land and real-estate. You are easily fit in any group of people and become popular among others.. Path:
</p>
<h1>
    Number 7 as Life Path:
</h1>
<p>
    This number is a number for scientists and analytics and it is able to show dream to theperson. It number makes one intelligent. For the particular number you are really fond ofscience based subject, such as mathematics or any thing that requires analytical skills like computer programming. You may file patents or innovate many new ideas that drives the changes.
</p>
<h1>
    Number 8 as Life Path:
</h1>
<p>
    The number 8 provides the proper sense of authority and power. With the help of this you will able to set up a business in a proper sense. For this number you will possess high court Magistrate or very famous advocate. You may be a head of a military regiment or may be a head in police department. You are really ambitious and focus towards your goal.
</p>
<h1>
    Number 9 as Life Path:
</h1>
<p>
    If you possessed the particular number you will have a strong fascination regarding the social work and charitable organization. You will love to sacrifice yourself for the sake of others. You are really born nurse. You also possess a strong sense of justice. You may define the society and culture and the process or faw which will be followed by the next generations.
</p>
    </div>
{%endblock body%}