{%extends 'base.html'%}

{%block head%}
<style>
h1{
        color: red;
        text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  table{
    height: 80px;
    width: 130px;
    text-align: center;
    vertical-align: center;
  }
    .center {
        margin-left: auto;
        margin-right: auto;
      }
table, th, td {
  border: 1px solid black;
}
</style>

{%endblock head%}

{%block body%}
<div class="container">
  <h1 align="center">What is Astrology</h1>
<link rel="stylesheet" href="learnastro.css">
<p>
    Astrology is the study of the influence of stars and planets on human lives. There is a belief that the position of the sun, moon, planets, and other stars during a person’s birth is very critical. Some people believe these cosmic objects define someone’s personality, their romantic relations, and predict their economic successes. One popular aspect of astronomy are horoscopes, which commonly appear in newspapers. However, astrologers consider this an inaccurate way of profiling one’s life, personality, and future endeavors. A more accurate picture can be given by the specific sign of the planet at the time of birth, the angles, houses, and many other factors. The astrological signs are Aries, Libra, Virgo, Pisces, Gemini, Leo, Cancer, Capricorn, Taurus, Sagittarius, Scorpio, and Aquarius.

</p>
<img src="https://tse4.mm.bing.net/th?id=OIP.2haPZRyVFbECT68RtyM7BAHaEK&pid=Api&P=0">
<h1>What is Astrology:Indian Astrology</h1>
<p>
    Thus Indian Astrology is the earliest form of the Astrology and over the long course of time it has been modified only a little. Its correctness and exactness as a science of deduction or fortune-telling is superlative even today. To achieve the most accurate results, even to the minute of the details, indian astrology is used as it covers every area of the human existence. Indian Astrology encircles everything from everyday events to spirituality, prediction, psychology, religion and healing.

According to Indian Astrology every birth is angelic and brings with it negative and positive karma both which influence many domains of our life such as health, career, finance, relationships, character and spiritual nature. With the birth of each individual his/her birth chart is created depicting the positions of the cosmic bodies according to the date of birth, time of birth and place of birth of the person. The exact disconnection time of the mother's umbilical cord from the child is called as its birth time.The birth chart or natal chart maintains all the nine planetary positions placed in different signs arranged w.r.t birth ascendant. It is just non-moving picture of zodiac at the time of birth. In Indian astrology this birth chart in hindi is known as Kundli or Janam Kundli or Janampatri etc.

Your kundli is the most important key in understanding the past, present and future events of your life and implementation of the remedies (if the planets are in the wrong zodiac) only work properly if your kundli is accurate.
ndian astrology or Jyotish plays the most important role when you decide your life-partner. It defines a person's personality on the ground of his/her moon sign or rashis'. There are 12 moon signs defined in the Indian Astrology namely Mesh (Aries), Vrishabh (Taurus), Mithun (Gemini), Karka (Cancer), Simha (Leo), Kanya (Virgo), Tula (Libra), Vrischika (Scorpio), Dhanu (Sagittarius), Makar (Capricorn), Kumbh (Aquarius), Meen (Pisces). Collectively these signs are called Zodiac around which the whole Indian Astrology revolves. Using the horoscopes of these signs of the to be bride and groom and matching them on the basis of their kundli the compatibility matching is done which gives the idea of how much successful the marriage will be based on the principles of Indian Astrology.
</p>
<h1>What is Ruling Planets in Astrology</h1>
<p>
    Every sign is associated with a ruling planet. There is an affinity between a sign and its ruler. Ruling planet is strongest in its own sign and moderately powerful when it is in a friend's sign(A sign ruled by a friend planet)
</p>
<table class="center">
  <tr>
    <th>Sign</th>
    <th>Ruling Planet</th>
  </tr>
  <tr>
    <td>Aries</td>
    <td>Mars</td>
</tr>
  <tr>
    <td>Tarus</td>
    <td>venus</td>

  </tr>
  <tr>
    <td>Gemini</td>
    <td>Mercury</td>

  </tr>
  <tr>
    <td>Cancer</td>
    <td>Moon</td>

  </tr>
  <tr>
    <td>Leo</td>
    <td>Sun</td>

  </tr>
  <tr>
    <td>Virgo</td>
    <td>Mercury</td>

  </tr>
  <tr>
    <td>Libra</td>
    <td>Venus</td>

  </tr>
  <tr>
    <td>Scorpio</td>
    <td>Mars</td>

  </tr>
  <tr>
    <td>Sagittarius</td>
    <td>Jupiter</td>

  </tr>
  <tr>
    <td>Capricon</td>
    <td>saturn</td>

  </tr>
  <tr>
    <td>Aquarius</td>
    <td>Saturnn</td>

  </tr>
  <tr>
    <td>Pisces</td>
    <td>Jupiter</td>

  </tr>
</table>
</table>
<h1>What are 12 Houses in Astrology</h1>
<p>The whole life of the native is contained in twelve houses called behaves of birth chart. Ascendant in the birth chart being the first house and rest of the houses are counted anti-clock wise. For every native, due to different Ascendant sign, all houses are different.</p>


<table class="center">
  <tr>
    <th>House</th>
    <th>Signifiest</th>
  </tr>
  <tr>
    <td>1st House</td>
    <td>Vitality,Physique,head,inherited house</td>
</tr>
  <tr>
    <td>2nd House</td>
    <td>Family,wealth,Partners,right eye</td>

  </tr>
  <tr>
    <td>3rd House</td>
    <td>Glory,brothers/sisters,friends,right hand</td>

  </tr>
  <tr>
    <td>4th House</td>
    <td>Luxury,vehicles,immovable property,heart,mother</td>

  </tr>
  <tr>
    <td>5th House</td>
    <td>Kids,education,intellect,abdomen</td>

  </tr>
  <tr>
    <td>6th House</td>
    <td>Health,enemies,neck,maternal uncle/relations</td>

  </tr>
  <tr>
    <td>7th House</td>
    <td>Spouse,inlaws,umbilicus,daily business</td>

  </tr>
  <tr>
    <td>8th House</td>
    <td>Longevity,death,health</td>

  </tr>
  <tr>
    <td>9th House</td>
    <td>Fate,overseas trips,politics</td>

  </tr>
  <tr>
    <td>10th House</td>
    <td>Vocation,father,inherited property,thighs</td>

  </tr>
  <tr>
    <td>11th House</td>
    <td>Benfits,knees,grand-father</td>

  </tr>
  <tr>
    <td>12th House</td>
    <td>Expenses,litigations</td>

  </tr>
</table>
</table>
<h1>What is Ascendant in Astrology</h1>
<p>From the birth time and birth location, Indian astrology determines the 1st house in the birth chart. Rests of the houses are counted anti-clock wise. For example, if pieces be the first house for a person then the second house will be Aries.
  1st House, First House, known as the Lagna or Ascendant, is mainly responsible for an individual's physique,shape, and color. 1st House, First House deals with the general health conditions of an individual. 1st House, First House determines the mental capacity,temperament,charecter,behaviour,good luck and bad luck of the individual. This house also tells how much fame, honor, property, status and comfort a person will gain during his life..
</p>
<img src="https://www.astro-seek.com/seek-images/fb/seek_fb_600_ascendant.jpg">
<h1> What is Horoscope </h1>
<p>Horoscope or birth chart or janma kundali contains the detail information of the positions of planets, stars at the birth time for a person. Each planet and star positioned on zodaic sign according to the time. Pacement or planetary combinations are used as input for an astrologer to predict about the native's life and future. Monnasrto brings free astrology Horoscope prediction about the native's life and future. Monnastro brings Free Astrology Horoscope prediction to you with detail report and recommendation which can be act as a guide for the Indian Astrologers fro making human mistakes.</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfG55SxmRdHQxIcGQs32kP-Nm41p5dEKE0uw&usqp=CAU">

</div>
{%endblock body%}