{%extends 'base.html'%}

{%block head%}
<style>
table, th, td {
  border: 1px solid black;
}
h1{
    color:teal;
    text-align: center;
}
h2{
    color:rgb(27, 235, 235);
    text-align: center;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
p {
font-family: verdana;
font-size: 20px;
}
table{
height: 80px;
width: 130px;
text-align: center;
vertical-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  </style>
{%endblock head%}

{%block body%}
<div class="container">
<h1 align="center">WHAT IS NUMEROLOGY?</h1>
<link rel="stylesheet" href="numerology.css">
<p>
    Predictions and energies often pertain to Occult sciences that require much more expertise than our regular rationalism. One such fascinating aspect of prediction and life path is Numerology. Numerology can be ascribed as the analysis of the relationship numbers and life cycle of an individual. Based on simple equations and mathematics, it focuses on the numbers that are related to each other creating the full life chart or numerology chart of a person.
</p>
<img src=" https://tse2.mm.bing.net/th?id=OIP.Th7UrZymKiLoC3r5G-zA7QHaE8&pid=Api&P=0">
<h1>Getting Hold On Numerology!!</h1>
<p>
    In short, Numerology employs the basic form of numbers to understand the individual and

    its relationship with the cosmos better. The basic form of number focuses on obtaining only a root number. For this, you need to

    keep on adding digits until you reach a single digit. However, if the result is, 11 and 22 must not be added. They are Magic Numbers! (Coming up later!)
</p>
<h1>Five Core Components</h1>
<p> Coming down to the focal point, Numerology is a fascinating concept that must have caught your fascination by now. So without much ado, lets move on to the components constituting Numerology chart. To understand, that, first we need to know how to create one by one component to build up a comprehensive chart.
</p>
<h2>Life Path-Your true destiny of life</h2>
<p>
he first and foremost component, Life Path calculation is regarded in high esteem in an individuals chart. Through this, numerologists accurately predict,
1. The path your life will lead you to.
2. Your true personality and mannerism you must bear to the world.
3. Challenges and chances of life will endow you.
4. The lesson you learn from both success and failure.
To calculate it, divide your birth date into individual numbers and add up. Example. If your birth date is 29th April 1995, then numerically, it goes> 29-04-1995. Now segregate and calculate in this way, 2+9+0+4+1+9+9+5= 39. Now further add up 3+9-12. Then 1+2=3. There you go! Your life path number is 31 And the level of accuracy you will find for 3 numbers individual is mind-boggling!
</p>
<h3>Expression Number-Window to your desire</h3>
<p>
    Next, to Life Path number, your Expression Number predicts yours,

1. Your capabilities. 2. Your personal wishes and aim

3. Your hearts desire. 4. Your inner traits you may be unaware of.

In this calculation, your full birth name (including the middle name comes in handy). Numerologist uses Pythagorean Chart consisting of particular letters under each number. And in the same way, corresponding numbers are added to find the root number.
</p>
<table class="center">
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>

  </tr>
  <tr>
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>E</td>
    <td>F</td>
    <td>G</td>
    <td>H</td>
    <td>I</td>
</tr>
  <tr>
    <td>J</td>
    <td>K</td>
    <td>L</td>
    <td>M</td>
    <td>N</td>
    <td>O</td>
    <td>P</td>
    <td>Q</td>
    <td>R</td>
  </tr>
  <tr>
    <td>S</td>
    <td>T</td>
    <td>U</td>
    <td>V</td>
    <td>W</td>
    <td>X</td>
    <td>X</td>
    <td>Y</td>
    <td>DZ</td>
  </tr>
</table>
    <p>Take a name, Raj Dey. Now R-9, A-1, 1-1, D-4, E-5, Y-7(note the table for letter-number pair). Add, 9+1++1+4+5+7=27. 2+7-9. This is the Expression Number of Raj Dey.

    </p>
    <h1>
        Soul Urge Number - Whatever you desire
    </h1>
    <p>
        To make it more clearly, Soul Urge Number points to:

1. Inner and true personality.

2. The ultimate truth about oneself that only individual guards and recognizes.

You may be aggressive outside, but inwardly you desire peace. You may remain static, but your soul desire to roam around. To calculate it, you need to add up the values of the

vowels (can be same vowels too) present in a name. From Raj Dey, take A-1 and E-5.
    </p>
    <h1>
        Personality Number - Worlds perspective of yours
    </h1>
    <p>
        As the name suggests, it reveals,

1. Your side you show to the world. 2. The traits and personality that other assumes you possess.

3. Shows the things you can work out regarding your behavior and communication. To calculate, you need to add up the numbers from the consonants of your name. From Ra

Dey, pick up, R-9, 1-1, D-4, Y-7. Add 9+1+4+7=21. 2+1=3 (Again!)
    </p>
    <h1>
        BirthDay number - Your true birth connection
    </h1>
    <p>
        The first and foremost component, Life Path calculation is regarded in high esteem in an

individuals chart. Through this, numerologists accurately predict, 2. Holds the key to your birth reason.

1. It is the last of five core numerology components.

3. Unveil your gifted powers. 4. It ranges from date of 1st to 31st.

Just the date calculates it in the month of your birth. For example, if you are born on 29th April 1995, then it will take just 29. And bingo! The characteristic of number 29 is your Adding all the numbers obtained from the five components constitutes the credibility and Birth Number.
    </p>
<h2>
    Accuracy of the Numerology Chart:The secret of Master Numbers
</h2>
<p>
    Master numbers in numerology are 11, 22 or 33. They have profound and ground-breaking Implications. The genuine implications can be fortunate or unfortunate relying upon the unique circumstance. Along these lines, it is essential to decipher master numbers legitimately. Generally, they ought to be utilized for direction or disclosure of specific
</p>
</div>
{%endblock body%}