{%extends 'base.html'%}
{%block body%}
<h1 align="center">NUMEROLOGY NUMBERS</h1>
<link rel="stylesheet" href="Numerologynumbers.css">
<h1>
    Numerology Number 1:
</h1>
<p>
    People with number 1 have ruling planet as sun. They are having the most individualistic approach and having faith in their originality and acquire full strength. They have got an exceptional leadership quality with highly ambitious temperament. They wish to do something exceptionally great with the power which they have in their mind. They have a great enthusiasm to fulfill their goal with their courage as well as determination.
</p>
<img src="https://tse4.mm.bing.net/th?id=OIP.SdBFm7QgbGX44Bp40rX5EAHaEL&pid=Api&P=0">
<h1>
    Numerology Number 2:
</h1>
<p>
    People with number 2 in their numerology are having their ruling planet as moon. The most sensitive people in the world would be with number 2. The individuals with this numerology have got shy, charming, soft as well as gentle nature in their temperament. Most of the people can hardly understand them as they are introvert in nature and are really hard to detect. They are really good to other as they really cooperate with them.
</p>
<img src="https://tse2.mm.bing.net/th?id=OIP.dMF-Vi9D85LpXP2LdjLI-wHaEo&pid=Api&P=0">
<h1>
    Numerology Number 3:
</h1>
<p>
    These people are generally with a playful image. They are known as social animals in a real sense. They love to have an effort of socializing and do participate actively in any events of the society. Since they have a self confidence within themselves, they are even filled with all types
</p>
<img src="https://tse1.mm.bing.net/th?id=OIP.mv_8kqJ3wlI1D3F_9LphEQHaEK&pid=Api&P=0">
<h1>
    Numerology Number 4:
</h1>
<p>
    people with the numerological 4 have their ruling planet as Rahu. This planet is also represented as the head of the demon snake. These people belong to that category who has a practical approach towards every instance of life. There are the people with practical background and have a mentality to be down to earth. Whatever theories they find out should be associated with minutes of details. They are well organized in whatever they do and are having a practical view.
</p>
<img src="https://tse2.mm.bing.net/th?id=OIP.miSt_y9GFMfQeEIJdCwjigHaEo&pid=Api&P=0"
<h1>
    Numerology Number 5:
</h1>
<p>
    People with the numerological 5 are supple as well as flexible. They are also having a soft nature as well as amicable at heart. It is really easy for them to make friends. They are the best professionals in whatever projects provided to them. They have an optimistic view with a cheerful as well as encouraging nature. They have a great motivation towards whatever work been assigned to them.
</p>
<img src="https://tse2.mm.bing.net/th?id=OIP.cSnecM74PT79loXu8MfA2gHaEL&pid=Api&P=0"
<h1>
    Numerology Number 6:
</h1>
<p>
    People of number 6 will have their ruling planet as Venus. These people have

compassion and this becomes their inbuilt quality. Other positive qualities of these people would include benevolent nature philanthropic amicable, humanitarian etc.Since they don't have any trace of selfishness, they have a sacrificing nature with them. They are always equipped with their own responsibilities and do not even thinks of shedding it off.
</p>
<img src="https://tse3.mm.bing.net/th?id=OIP.hc60GNA9yTqeJmpHN2EgzgHaFj&pid=Api&P=0"
<h1>
    Numerology Number 7:
</h1>
<p>
    People with number 7 will have their ruling planet as Ketu. These people tend to have a spiritual way of though. Their physical characteristics involve a charming attitude, amicable as well as full of zeal in life. Since they have a great emphasis with regards to their wisdom, their intellectual way of thinking is really appreciable. Whatever goal they have in their life have a good focus. Before coming to a conclusion about any matter, they have a focus on its depth.
</p>
<img src="https://tse2.mm.bing.net/th?id=OIP.PfsPIlMHsTth-o5hpz9bIgHaEo&pid=Api&P=0"
<h1>
    Numerology Number 8: 
</h1>
<p>
    he individuals with number 8 have their ruling planet as Saturn. The people in this particular part will be really powerful. Since these people have wide inspiration. They are also really visionary and have power to be with authority. Since they are highly ambitious people, they have zeal to do something in their life. Since they are slow in their approach, they are having a great generosity as they are highly humanitarian in nature.
</p>
<img src="https://tse4.mm.bing.net/th?id=OIP.xzAft0dk52StG0izKObx7AHaEo&pid=Api&P=0"
<h1>
    Numerology Number 9: 
</h1>
<p>
    For the people who have number 9 as their emblem would have their ruling planet as mars. Among all the people in the world, these people are the most generous in nature and have a feeling of humanity among people. Since they all have a separate set of values, ideas and mannerism, the visualization of all those would be related to the betterment of the society. Since they have their own fascination charisma in various fields of life, they have their own way of impression.
</p>
<img src="https://tse1.mm.bing.net/th?id=OIP.q8JWS8F750h13Eu5ycUXwQHaEK&pid=Api&P=0">
{%endblock body%}