{%extends 'base.html'%}

{%block head%}
<style>
table, th, td {
  border: 1px solid black;
}
h1{
    color:teal;
    text-align: center;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
p {
font-family: verdana;
font-size: 20px;
}
table{
height: 80px;
width: 130px;
text-align: center;
vertical-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

</style>
{%endblock head%}


{%block body%}
        <div class="container">
<h1 align="center">Astrology and Planets</h1>
<link rel="stylesheet" href="planets.css">
<p>
    Planets in astrology are the most significant factors in evaluating the horoscope. Contingent upon where they are put comparable to one another, an individual’s planets can choose essential issues throughout everyday life, for example, satisfaction in marriage, the number of kids they will have, and the sort of profession they will seek after.

Planets in Astrology are the most significant factors in evaluating the horoscope. Contingent upon where they are put comparable to one another, an individual’s planets can choose essential issues throughout everyday life, for example, satisfaction in marriage, the number of kids they will have, and the sort of profession they will seek after. While every planet speaks to a scope of issues, they each have a center emblematic significance.

Venus, for instance, means love in the individual’s life. A Venus that is all around set will bring affection and satisfaction. A Venus which is related to malefics or awful houses will acquire more difficulties the affection life. The thought here is that solid planets realize great outcomes in the everyday issues they rule while tormented or feeble planets achieve awful outcomes
</p>
<img src="https://c4.wallpaperflare.com/wallpaper/630/43/768/space-earth-sun-solar-system-wallpaper-preview.jpg">
<p>
Each planet has one or more friend and enemy planets. If a planet is in conjunction with friend planet in the birth chart or accepted by or in the house ruled by the friend then the planet becomes stronger. Relation table between planets are given below.is an affinity between a sign and its ruler. Ruling planet is strongest in its own sign and moderately powerful when it is in a friend's sign(A sign ruled by a friend planet)
</p>
<table class="center">
  <tr>
    <th>PLANETS</th>
    <th>FRIENDS</th>
    <th>ENEMIES</th>
    <th>NEUTRALS</th>
    
  </tr>
  <tr>
    <td>Sun</td>
    <td>Moon,Mars,Jupiter</td>
    <td>Venus,Saturn</td>
    <td>Mercury</td>
</tr>
  <tr>
    <td>Moon</td>
    <td>Sun,Mercury</td>
    <td>NONE</td>
    <td>Mars,Jupiter,Venus,Saturn</td>
  </tr>
  <tr>
    <td>Mars</td>
    <td>Sun,Moon,Jupiter</td>
    <td>Mercury</td>
    <td>Venus,Saturn</td>
  </tr>
  <tr>
    <td>Mercury</td>
    <td>Sun,Venus</td>
    <td>Moon</td>
    <td>Mars,Jupiter,Saturn</td>

  </tr>
  <tr>
    <td>Jupiter</td>
    <td>Sun,Moon,Mars</td>
    <td>Mercury,Venus</td>
    <td>Saturn</td>
  </tr>
  <tr>
    <td>Venus</td>
    <td>Mercury,Saturn</td>
    <td>Sun,Moon</td>
    <td>Mars,Jupiter</td>

  </tr>
  <tr>
    <td>Saturn</td>
    <td>Mercury,Venus</td>
    <td>Sun,Moon,Mars</td>
    <td>Mars,Jupiter</td>

  </tr>
  <tr>
    <td>Rahu,Ketu</td>
    <td>Mercury,Venus,Saturn</td>
    <td>Sun,Moon,Jupiter</td>
    <td>Mars</td>
</tr>
</table>
    <h2>Collection of Planets</h2>
    <h1>Planet cycles</h1>
    <p>
        Each one of the eight planets of the solar system, the Sun, and the Moon have their own cycles and orbits and play a significant role in astrology. Each of them needs a certain period of time to complete its cycle in the Zodiac. Fast planets (the Sun, the Moon, Mercury, Venus, Mars) move relatively quickly. The Moon orbits the Earth in 28 days, Mercury orbits the Sun in 88 days, Venus in 225 days, mars in 687 days. Jupiter and Saturn have slower cycles. Jupiter orbits the Sun in 11. 86 years, Saturn in 29. 46 years. At the same time, Uranus, Neptune, and Pluto take 84, 165, and 248 years respectively to orbit the Sun.
    </p>
 <img src="https://astromix.net/blog/wp-content/uploads/2020/08/planets1.jpg"
 

</div>
{%endblock body%}